In [77]:
import os
import requests
import pandas as pd
import yfinance as yf
from time import sleep
from selenium import webdriver

In [78]:
# Chrome Driver settings

curdir = os.getcwd()

chrome_options = webdriver.ChromeOptions()

prefs = {'download.default_directory' : curdir}
chrome_options.add_experimental_option('prefs', prefs)

print(curdir)

/home/ianaraujo/Projects/idiv-dividend-analysis

In [79]:
# Download IDIV index composition from B3

B3_URL = 'https://sistemaswebb3-listados.b3.com.br/indexPage/day/IDIV'

driver = webdriver.Chrome('./chromedriver', options=chrome_options)

def download_idiv(url):

    driver.get(url)

    download_button = driver.find_element_by_link_text('Download')

    download_button.click()

    sleep(1)

download_idiv(B3_URL)    
    
driver.close()

In [80]:
# Get list of stocks from IDIV index

idiv_file = [curdir + '/' + str(file) for file in os.listdir(curdir) if str.startswith(file, 'IDIV')]

df = pd.read_csv(idiv_file[0], sep=';', header=1, skipfooter=2, encoding='latin-1', engine='python')

lista_codigos_negociacao = list(df.index.values)

print(lista_codigos_negociacao)

['ABCB4', 'AESB3', 'ALUP11', 'B3SA3', 'BRSR6', 'BBSE3', 'BBDC3', 'BBDC4', 'BRAP4', 'BBAS3', 'AGRO3', 'CMIG3', 'CMIG4', 'CSMG3', 'CPLE3', 'CPLE6', 'CPFE3', 'CYRE3', 'DIRR3', 'ELET3', 'ELET6', 'ENAT3', 'ENBR3', 'EGIE3', 'FESA4', 'GRND3', 'MYPK3', 'ITSA4', 'JHSF3', 'LEVE3', 'BEEF3', 'PETR3', 'PSSA3', 'QUAL3', 'RAPT4', 'ROMI3', 'SANB11', 'CSNA3', 'SYNE3', 'TAEE11', 'TGMA3', 'VIVT3', 'TRPL4', 'TRIS3', 'UNIP6', 'VALE3', 'WIZS3']

In [81]:
# Delete downloaded .csv file

os.remove(idiv_file[0])

In [82]:
# 

STATUS_INVEST_URL = 'https://statusinvest.com.br/acao/companytickerprovents?ticker={}&chartProventsType=2'

def stock_earnings(stock):

    df = pd.DataFrame()

    for codigo in stock:

        resp = requests.get(STATUS_INVEST_URL.format(codigo))
        
        json = resp.json()

        data = pd.DataFrame(dict(json)['assetEarningsYearlyModels'])

        data['stock'] = codigo

        df = pd.concat([df, data])

    return df

dividendos = stock_earnings(lista_codigos_negociacao).reset_index()

dividendos.tail(30)

     index  rank      value  stock
596      8  2017   5.042105  UNIP6
597      9  2018   2.709793  UNIP6
598     10  2019   0.302965  UNIP6
599     11  2020   1.220858  UNIP6
600     12  2021  15.444590  UNIP6
601     13  2022   8.965346  UNIP6
602      0  2007   0.394109  VALE3
603      1  2008   1.089846  VALE3
604      2  2009   1.016622  VALE3
605      3  2010   0.984241  VALE3
606      4  2011   2.885362  VALE3
607      5  2012   2.261800  VALE3
608      6  2013   1.808383  VALE3
609      7  2014   1.889781  VALE3
610      8  2015   0.975371  VALE3
611      9  2016   0.166300  VALE3
612     10  2017   1.325472  VALE3
613     11  2018   1.968847  VALE3
614     12  2019   1.414364  VALE3
615     13  2020   2.407500  VALE3
616     14  2021  14.648557  VALE3
617     15  2022   7.291313  VALE3
618      0  2015   0.231106  WIZS3
619      1  2016   0.875573  WIZS3
620      2  2017   0.708442  WIZS3
621      3  2018   0.511715  WIZS3
622      4  2019   1.111435  WIZS3
623      5  2020   0.668806  WIZS3
624      6  2021   0.608873  WIZS3
625      7  2022   0.587950  WIZS3

In [85]:
#

dividendos = dividendos[['stock', 'rank', 'value']]

df_dividendos = dividendos.rename(columns={'rank': 'year', 'value': 'dividend_per_share'})

df_dividendos = df_dividendos.loc[df_dividendos['year'].isin([2021, 2020, 2019]), :]

df_dividendos_5y = df_dividendos.groupby('stock').agg({'dividend_per_share': 'mean'})

df_dividendos_5y['dividend_per_share'] = df_dividendos_5y.dividend_per_share.apply(lambda x: round(x, 2))

df_dividendos_5y.head(10)

        dividend_per_share
stock
ABCB4                 0.82
AESB3                 0.23
AGRO3                 1.42
ALUP11                0.66
B3SA3                 0.69
BBAS3                 2.10
BBDC3                 1.14
BBDC4                 1.25
BBSE3                 1.79
BEEF3                 0.69

In [90]:
# Obter as cotações atualizadas para calcular o Dividend Yield

codigos_sa = [codigo + '.SA' for codigo in lista_codigos_negociacao]

cotacoes = map(lambda x: yf.Ticker(x).info['regularMarketPrice'], codigos_sa)

lista_cotacoes = list(cotacoes)

df_market_price = pd.DataFrame({'stock': lista_codigos_negociacao, 'market_price': lista_cotacoes})

df_market_price.head(10)

    stock  market_price
0   ABCB4         18.96
1   AESB3          9.82
2  ALUP11         28.82
3   B3SA3         12.43
4   BRSR6         11.07
5   BBSE3         28.50
6   BBDC3         16.12
7   BBDC4         19.48
8   BRAP4         23.65
9   BBAS3         41.47

In [91]:
df_dividend2 = df_dividendos_5y.merge(df_market_price, on='stock')

df_dividend2['dividend_yield'] = round((df_dividend2['dividend_per_share']/df_dividend2['market_price'])*100, 2)

df_dividend2

     stock  dividend_per_share  market_price  dividend_yield
0    ABCB4                0.82         18.96            4.32
1    AESB3                0.23          9.82            2.34
2    AGRO3                1.42         27.59            5.15
3   ALUP11                0.66         28.82            2.29
4    B3SA3                0.69         12.43            5.55
5    BBAS3                2.10         41.47            5.06
6    BBDC3                1.14         16.12            7.07
7    BBDC4                1.25         19.48            6.42
8    BBSE3                1.79         28.50            6.28
9    BEEF3                0.69         14.69            4.70
10   BRAP4                4.89         23.65           20.68
11   BRSR6                0.95         11.07            8.58
12   CMIG3                0.84         19.39            4.33
13   CMIG4                0.84         12.86            6.53
14   CPFE3                1.99         35.96            5.53
15   CPLE3                0.58          6.65            8.72
16   CPLE6                0.63          7.14            8.82
17   CSMG3                1.44         13.36           10.78
18   CSNA3                0.96         16.24            5.91
19   CYRE3                1.58         14.35           11.01
20   DIRR3                0.79         12.15            6.50
21   EGIE3                1.71         41.20            4.15
22   ELET3                1.61         47.61            3.38
23   ELET6                1.94         48.87            3.97
24   ENAT3                1.08         15.76            6.85
25   ENBR3                0.55         23.46            2.34
26   FESA4                1.04         51.85            2.01
27   GRND3                0.45          7.43            6.06
28   ITSA4                0.74          9.32            7.94
29   JHSF3                0.25          6.37            3.92
30   LEVE3                1.24         24.71            5.02
31   MYPK3                0.62         15.38            4.03
32   PETR3                2.13         37.22            5.72
33   PSSA3                2.29         21.06           10.87
34   QUAL3                1.22         10.44           11.69
35   RAPT4                0.42         10.44            4.02
36   ROMI3                1.43         13.21           10.83
37  SANB11                2.58         29.75            8.67
38   SYNE3                4.60          4.43          103.84
39  TAEE11                3.20         41.34            7.74
40   TGMA3                0.90         16.28            5.53
41   TRIS3                0.20          4.83            4.14
42   TRPL4                2.28         24.08            9.47
43   UNIP6                5.66         92.94            6.09
44   VALE3                6.16         70.21            8.77
45   VIVT3                3.41         44.11            7.73
46   WIZS3                0.80          8.54            9.37